
<form class="layui-form" action="{:url('goods/save')}" method="post" enctype="multipart/form-data">
  <div class="layui-row layui-col-space10" style="padding: 10px">
   <a href="{:url('index/index/select')}" class="layui-btn">返回</a>
</div class="layui-row"><div>
  <div class="layui-col-md4 layui-col-md-offset4"><h2>添加商品</h2></div>
</div>
 
  <div class="layui-form-item" style="padding-top: 30px">

       
    <label class="layui-form-label ">商品名称</label>
    <div class="layui-col-md5">
      <input type="text" name="goods_name" value="{$d.goods_name}" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">商品图片</label>
    <div class="layui-input-inline">
      <input type="file" name="goods_picture" value="" required lay-verify="required" placeholder="请输入所属分类" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">辅助文字</div>
  </div>
 <div class="layui-form-item">
    <label class="layui-form-label " >商品类别</label>
    <div class=" layui-col-md5">
      <select name="category_id" value ="{$d.category_id}" lay-verify="required">
        <option value=""></option>
        <option value="1">水果</option>
        <option value="2">蔬菜</option>
        <option value="3">海鲜</option>
        <option value="4">主管</option>
        <option value="5">员工</option>
      </select>
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">上架/下架</label>
    <div class="layui-input-block">
      <input type="checkbox" name="goods_status" lay-skin="switch">
    </div>
  </div>
 
  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label ">商品简介</label>
    <div class=" layui-col-md5">
      <textarea name="goods_desc" value="" placeholder="请输入内容" class="layui-textarea"></textarea>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" type="submit" lay-submit lay-filter="formDemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>