<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/static/admin/layui/css/layui.css"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
 
 <form class="layui-form" action="">
<select name="cars" class="input-xlarge" id="cate_one" >
<option value="volvo">{$data.category_name}</option>
 {foreach $sql as $v} 
<option value="saab">{$v.goods_name}</option>
{/foreach}
</select>
<select name="" class="input-xlarge" id="cate_two">
                            <option value="">二级</option>     
                             </select>
 <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">分组选择框</label>
      <div class="layui-input-inline">
        <select name="quiz">
          <option value="">{$data.category_name}</option>
          {foreach $sql as $v} 
            <option value="你工作的第一个城市">{$v.goods_name}</option>
          {/foreach}
         
        </select>
      </div>
    </div>
</form>
 

 

 
        
<script src="/static/admin/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;
  
  //日期
  laydate.render({
    elem: '#date'
  });
  laydate.render({
    elem: '#date1'
  });
  
  //创建一个编辑器
  var editIndex = layedit.build('LAY_demo_editor');
 
  //自定义验证规则
  form.verify({
    title: function(value){
      if(value.length < 5){
        return '标题至少得5个字符啊';
      }
    }
    ,pass: [
      /^[\S]{6,12}$/
      ,'密码必须6到12位，且不能出现空格'
    ]
    ,content: function(value){
      layedit.sync(editIndex);
    }
  });
  
  //监听指定开关
  form.on('switch(switchTest)', function(data){
    layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
      offset: '6px'
    });
    layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
  });
  
  //监听提交
  form.on('submit(demo1)', function(data){
    layer.alert(JSON.stringify(data.field), {
      title: '最终的提交信息'
    })
    return false;
  });
 
  //表单初始赋值
  form.val('example', {
    "username": "贤心" // "name": "value"
    ,"password": "123456"
    ,"interest": 1
    ,"like[write]": true //复选框选中状态
    ,"close": true //开关状态
    ,"sex": "女"
    ,"desc": "我爱 layui"
  })
  
  
});
$('#cate_one').change(function(){
                //将二级分类和三级分类的下拉列表 还原
                $('#cate_two').html('<option value="">请选择二级分类</option>');
                //发送ajax请求，以选中的分类id为参数
                var cate_id = $(this).val();
                if(cate_id == ''){
                    return;
                }
                //组装请求参数
                var data = {
                    "id":cate_id
                };
                $.ajax({
                    "url":"{:url('admin/category/getCateByPid')}",
                    "type":"post",
                    "data":data,
                    "dataType":"json",
                    "success":function(res){
                        if(res.code != 10000){
                            alert(res.msg);return;
                        }
                        //请求成功，需要将分类数据显示到页面
                        //遍历 res.data 拼接option标签
                        var str = '<option value="">请选择二级分类</option>';
                        $.each(res.data, function(i, v){
                            //v 就是一条数据，是json格式对象
                            str += '<option value="' + v.id + '">' + v.cate_name + '</option>';
                        });
                        //将拼接好的html代码字符串，放到页面 二级分类下拉列表中
                        $('#cate_two').html(str);
                    }
                });
            });
</script>


</body>
</html>